			<div class="pbmit-footer-big-area-wrapper">
				<div class="pbmit-footer-big-area">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-md-12 col-lg-6 pbmit-footer-left">
								<h3>Pioneering a New Era of Reliable Grounding Solutions</h3>
							</div>
							<div class="col-md-12 col-lg-6 text-lg-end">
								<div class="pbmit-footer-logo">
									<img class="pbmit-main-logo" src="/images/Assets/Logos/logo-long.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-contact-area-wrapper">
				<div class="pbmit-footer-contact-area">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span> “Sayar Shanti”, Survey No. 47/7B/2, Plot No. 02, 
									Raviraj Cooperative Housing Society Limited, Jambhulwadi Road, 
									Shanti Nagar, Dattanagar, Pune – 411046</span>	
							</div>
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span>info@fastearthing.com</span>
							</div>
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span>+91-8600779121</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-widget-area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Our Company</h2>
								<ul class="menu">
									<li><a href="/about-us.html">About Us</a></li>
									<li><a href="/faq.html">FAQs</a></li>
									<li><a href="/contact-us.html">Contact</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Our Catalog</h2>
								<ul class="menu">
									<li><a href="/product-section.html">Products</a></li>
									<li><a href="/services.html">Services</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Media</h2>
								<ul class="menu">
									<li><a href="/blog-section.html">Blogs</a></li>
									<li><a href="/product-section.html">Image Gallery</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Quick Link</h2>
								<ul class="menu">
									<li><a href="/faq.html">Privacy Policy</a></li>
									<li><a href="/about-us.html">Team</a></li>
									<li><a href="/faq.html">Terms of use</a></li>
								</ul>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-text-area">
				<div class="container">
					<div class="pbmit-footer-text-inner">
						<div class="row">
							<div class="col-md-6">
								<div class="pbmit-footer-copyright-text-area"> Copyright © <span id="year"></span>
									<a href="/">Fast Earthing Enterprises</a>, All Rights Reserved.
								</div>
							</div>
							<div class="col-md-6">
								<div class=" pbmit-footer-social-area">
									<ul class="pbmit-social-links">
										<li class="pbmit-social-li pbmit-social-facebook">
											<a title="Facebook" href="https://www.facebook.com/share/15nJr69nwh/" target="_blank">
												<span><i class="pbmit-base-icon-facebook-f"></i></span>
											</a>
										</li>
										<li class="pbmit-social-li pbmit-social-youtube">
											<a title="Youtube" href="https://youtube.com/@fastearthingenterprises" target="_blank">
												<span><i class="pbmit-base-icon-youtube-play"></i></span>
											</a>
										</li>
										<li class="pbmit-social-li pbmit-social-instagram">
											<a title="Instagram" href="https://www.instagram.com/fast_earthing_enterprises/" target="_blank">
												<span><i class="pbmit-base-icon-instagram"></i></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>