			<div class="pbmit-footer-big-area-wrapper">
				<div class="pbmit-footer-big-area">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-md-12 col-lg-6 pbmit-footer-left">
								<h3>Pioneering a New Era of Steel working Excellence</h3>
							</div>
							<div class="col-md-12 col-lg-6 text-lg-end">
								<div class="pbmit-footer-logo">
									<img class="pbmit-main-logo" src="images/logo-white.svg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-contact-area-wrapper">
				<div class="pbmit-footer-contact-area">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span>2220 Prestonno R02, Hopkins, Hoofddorp(HD), UK</span>	
							</div>
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span>contact@example.com</span>
							</div>
							<div class="col-md-12 col-lg-4 pbmit-footer-contact-box">
								<span>+012 34-567-8901</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-widget-area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Our Company</h2>
								<ul class="menu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="faq.html">Testimonials</a></li>
									<li><a href="contact-us.html">Carriers</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Our Servcices</h2>
								<ul class="menu">
									<li><a href="service-details.html">Machine Analysis</a></li>
									<li><a href="service-details.html">Comprehensive Logits</a></li>
									<li><a href="service-details.html">Plant Maintenance</a></li>
									<li><a href="service-details.html">Maintenance & Repairing</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Media</h2>
								<ul class="menu">
									<li><a href="blog-classic.html">News</a></li>
									<li><a href="portfolio-grid-col-3.html">Events</a></li>
									<li><a href="portfolio-grid-col-2.html">Image Gallery</a></li>
								</ul>
							</aside>
						</div>
						<div class="col-md-6 col-lg-3 pbmit-footer-widget">
							<aside class="widget">
								<h2 class="widget-title">Quick Link</h2>
								<ul class="menu">
									<li><a href="faq.html">Privacy Policy</a></li>
									<li><a href="faq.html">Team</a></li>
									<li><a href="faq.html">Terms of use</a></li>
								</ul>
							</aside>
						</div>
					</div>
				</div>
			</div>
			<div class="pbmit-footer-text-area">
				<div class="container">
					<div class="pbmit-footer-text-inner">
						<div class="row">
							<div class="col-md-6">
								<div class="pbmit-footer-copyright-text-area"> Copyright © 2025 
									<a href="#">Induyst</a>, All Rights Reserved.
								</div>
							</div>
							<div class="col-md-6">
								<div class=" pbmit-footer-social-area">
									<ul class="pbmit-social-links">
										<li class="pbmit-social-li pbmit-social-facebook">
											<a title="Facebook" href="#" target="_blank">
												<span><i class="pbmit-base-icon-facebook-f"></i></span>
											</a>
										</li>
										<li class="pbmit-social-li pbmit-social-twitter">
											<a title="Twitter" href="#" target="_blank">
												<span><i class="pbmit-base-icon-twitter-2"></i></span>
											</a>
										</li>
										<li class="pbmit-social-li pbmit-social-youtube">
											<a title="Youtube" href="#" target="_blank">
												<span><i class="pbmit-base-icon-youtube-play"></i></span>
											</a>
										</li>
										<li class="pbmit-social-li pbmit-social-instagram">
											<a title="Instagram" href="#" target="_blank">
												<span><i class="pbmit-base-icon-instagram"></i></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>