<div class="pbmit-sticky-header pbmit-header-sticky-yes pbmit-bg-color-white pbmit-sticky-header-mobile-yes"></div>
			<div class="pbmit-header-overlay">
				<div class="pbmit-main-header-area pbmit-infostack-header pbmit-bg-color-blackish">
					<div class="pbmit-top-area">
						<div class="container-fluid">
							<div class="pbmit-logo-area-inner d-flex align-items-center justify-content-between">
								<div class="site-branding">
									<h1 class="site-title">
										<a href="/index.html" class="logo-div justify-content-between">
											<img class="pbmit-main-logo"  src="/images/Assets/Logos/logo-long.png" alt="Fast Earthing">
											<img class="pbmit-sticky-logo" src="/images/Assets/Logos/logo-long-black.png" alt="Fast Earthing">
										</a>
											
									</h1>
								</div>
								<div class="pbmit-header-text-box">
					
								</div>
								<div class="pbmit-header-info ml-auto d-flex align-items-center">
									<div class="pbmit-header-info-inner">
										<div class="pbmit-header-box pbmit-header-box-1">
											<a href="tel:+918600779121">						
												<span class="pbmit-header-box-icon">
													<i class="pbmit-induyst-icon pbmit-induyst-icon-telephone"></i>
												</span>							
												<span class="pbmit-box-content">
													<span class="pbmit-header-box-title">Need to talk</span>
													<span class="pbmit-header-box-content">+91-8600779121</span>
												</span>
											</a>				
										</div>
										<div class="pbmit-header-box pbmit-header-box-2">
											<a href="#">						
												<span class="pbmit-header-box-icon">
													<i class="pbmit-induyst-icon pbmit-induyst-icon-location-1"></i>
												</span>							
												<span class="pbmit-box-content">
													<span class="pbmit-header-box-title">Main Location</span>
													<span class="pbmit-header-box-content">Dattanagar, Pune</span>
												</span>
											</a>				
										</div>
										<div class="pbmit-header-box pbmit-header-box-3">
											<a href="mailto:fastearthingenterprises@gmail.com">						
												<span class="pbmit-header-box-icon">
													<i class="pbmit-induyst-icon pbmit-induyst-icon-mail"></i>
												</span>							
												<span class="pbmit-box-content">
													<span class="pbmit-header-box-title">Email address</span>
													<span class="pbmit-header-box-content">fastearthingenterprises@gmail.com</span>
												</span>
											</a>				
										</div>
									</div>
								</div>
								<div class="pbmit-right-box d-flex align-items-center">
									<div class="pbmit-header-search-btn">
										<a href="#" title="Search">
											<i class="pbmit-base-icon-search-2"></i>
										</a>
									</div>
									<div class="pbmit-burger-menu-wrapper">
										<div class="pbmit-mobile-menu-bg"></div>
										<button id="menu-toggle" class="nav-menu-toggle">
											<i class="pbmit-base-icon-menu-1"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pbmit-main-header-area">
						<div class="container-fluid">
							<div class="pbmit-header-content d-flex align-items-center justify-content-between pbmit-bg-color-white">
								<div class="pbmit-menuarea d-flex align-items-center">
									<div class="site-navigation">
										<nav class="main-navigation pbmit-navbar main-menu navbar-expand-xl navbar-light" id="site-navigation">
											<div>
												<ul class="navigation clearfix" id="pbmit-top-menu">
													<li class="active">
														<a href="/index.html">Home</a>
													</li>												
													<li class="">
														<a href="/about-us.html">About us</a>
														<!-- <ul>
															<li><a href="about-us.html">About Us</a></li>
															<li><a href="faq.html">Faq</a></li>
														</ul> -->
													</li>
													<li class="">
														<a href="/product-section.html">Products</a>
													</li>
													<li class="">
														<a href="/services.html">Services</a>
													</li>
													<li class="">
														<a href="/portfolio-section.html">Portfolio</a>
													</li>
													<li class="">
														<a href="/blog-section.html">Blog</a>
													</li>
													<li><a href="/contact-us.html">Contact Us</a></li>
												</ul>
											</div>
										</nav>
									</div>
									<!-- <div class="pbmit-header-search-btn">
										<a href="#" title="Search">
											<i class="pbmit-base-icon-search-2"></i>
										</a>
									</div> -->
								</div>
								<div class="pbmit-right-box d-flex align-items-center">
									<div class="pbmit-header-social">
										<ul class="pbmit-social-links">
											<li class="pbmit-social-li pbmit-social-facebook">
												<a title="Facebook" href="#" target="_blank">
													<span><i class="pbmit-base-icon-facebook-f"></i></span>
												</a>
											</li>
											<li class="pbmit-social-li pbmit-social-twitter">
												<a title="Twitter" href="#" target="_blank">
													<span><i class="pbmit-base-icon-twitter-2"></i></span>
												</a>
											</li>
											<li class="pbmit-social-li pbmit-social-youtube">
												<a title="Youtube" href="#" target="_blank">
													<span><i class="pbmit-base-icon-youtube-play"></i></span>
												</a>
											</li>
											<li class="pbmit-social-li pbmit-social-instagram">
												<a title="Instagram" href="#" target="_blank">
													<span><i class="pbmit-base-icon-instagram"></i></span>
												</a>
											</li>
										</ul>
									</div>
									<div class="pbmit-header-button">
										<a href="contact-us.html" class="pbmit-btn">
											<span class="pbmit-button-content-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-induyst-icon pbmit-induyst-icon-next"></i>
												</span>
												<span class="pbmit-button-text">Get in Touch</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>